@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #F1F1F1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #007130;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #F6DE00;
  }
}

.admin-menu {
  background-color: #F6F8FC;

  .navbar-nav {
    .nav-item {
      margin-left: 30px;

    }
  }
}

.banner {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../public/assets/images/banner-back.jpg") no-repeat fixed center center;
  background-size: 100% 100%;
}

.login-page {
  padding-top: 50px;

  .card {
    border-radius: 4px;
    -webkit-box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.75);

    .enter-login {
      text-align: center;
      font-size: 30px;
      padding-top: 20px;
      color: #FF5758 !important;
    }

    .enter-login2 {
      font-size: 18px;
      padding-top: 20px;
    }

    .card-body {
      .check-input {
        margin-top: 30px;

        .form-check-input {
          height: 20px;
          width: 20px;
        }

        .drop-input {
          transition: 1s all ease;
        }

        p {
          padding-top: 3px;
          margin-bottom: 0;
          font-size: 18px;
          padding-left: 40px;
        }

      }

      .form-group {

        p {
          font-size: 18px;
          padding-top: 15px;
        }

        input {
          padding-left: 20px;

          &:focus {
            box-shadow: none;
          }

          &::placeholder {
            opacity: 0.7;
          }
        }

        .enter-button {
          background-color: #FF5758;
          border-radius: 2px;
          color: white;
          border: none;
          height: 40px;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .register {
      padding-top: 50px;
      padding-bottom: 20px;

      button {
        &:focus {
          box-shadow: none;
          height: 40px;
        }
      }
    }
  }

  .eyes {
    img {
      width: 25px;
      margin-top: 14px;
    }
  }
}

.catalog {
  display: flex;

  .layout-children {
    width: 80%;
    padding-top: 20px;

    .title {
      display: inline-block;
      margin-bottom: 20px;
    }

    .addBtn {
      //background-color: #378FF6;
      color: #4689ff;
      display: inline-block;
      float: right;
      border-color: #7aaaff;
    }

    .table {
      tr {
        th {
          background-color: #378FF6;
          color: #fff;
          border: 0;
        }

        td {
          .btn {
            padding: 7px;
            line-height: 100%;
            text-align: center;
            float: right;
            margin-right: 5px;
          }

          .btn-edite {
            background-color: #378FF6;
            color: #fff;
            border-color: #378FF6;
          }
        }
      }
    }
  }
}

.katalog-sidebar {
  background-color: #F6F8FC;
  overflow-y: scroll;
  width: 20%;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: #F6F8FC;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }


  .list-group-item {
    padding: 0;
    background-color: #378FF6;
    border: 0;

    .nav-link {
      color: #fff;
      width: 100%;
      cursor: pointer;
      border: none;
      transition: 0.4s;
      background-color: #378FF6;
      border-radius: 0 !important;
      padding: 14px;

      &:hover {
        transition: 0.4s;
        padding-left: 20px;
        background-color: #3383e1;
      }

    }

    .active-catalog {
      transition: 0.4s;
      padding-left: 20px;
      background-color: #3383e1;
    }

    .inUl {
      padding-left: 30px;

      &:hover {
        padding-left: 40px;
      }
    }
  }


}

.menuPage {
  min-height: 400px;
  padding-bottom: 20px;
  border: 2px solid #8c9298;
  border-radius: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#sassProps {
  font-family: Calibri, serif;
  font-size: 12px;
  font-weight: bold;
  border-collapse: initial;

  .thead-default {
    background-color: rgba(0, 0, 0, 0.22);
    border-bottom: 1px solid rgba(0, 0, 0, .125);

    tr {
      th {
        position: relative;
        padding: .30rem;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

  tbody {
    tr {
      th {
        position: relative;
        vertical-align: middle;
        padding: .10rem .30rem .10rem .30rem;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0;
      }

      td {
        position: relative;
        vertical-align: middle;
        padding: 0;
        background-clip: padding-box;
        border: none;
      }

      .input-field {
        margin: 0 auto;
        height: calc(1.5em + .25rem + 2px);

        > .form-control {
          font-family: Calibri, serif;
          font-size: 12px;
          height: calc(1.5em + .25rem + 2px);
          border-radius: 0;
        }
      }
    }

    .desc-text {
      background-color: rgba(121, 172, 255, 0.22);
    }
  }
}

.inputPage {
  .container {
    padding-top: 20px;
    padding-bottom: 20px;

    form {
      padding-top: 20px;
      padding-bottom: 20px;

      .dataPick {
        .react-datepicker-wrapper {
          width: 100%;
        }
      }

      .table {
        margin-top: 20px;

        td {
          padding: 0.35rem;
          vertical-align: middle;

          .form-group {
            margin-bottom: 0;
          }
        }
      }
    }

    .btn-sec {
      text-align: center;

      div {
        text-align: center;
        padding: 12px 165px;
        display: inline-block;
        color: #fff;
        background-color: #378FF6;
        font-size: 18px;
        cursor: pointer;
        transition: 0.4s;

        p {
          line-height: 100%;
          margin: 0;
        }

        &:hover {
          transition: 0.4s;
          background-color: #3383e1;
        }
      }
    }

    .save-btn {
      button {
        text-align: center;
        padding: 7px 24px;
        display: inline-block;
        color: #fff;
        background-color: red;
        font-size: 18px;
        cursor: pointer;
        transition: 0.4s;
        float: right;
      }
    }
  }
}

.currencyInput {
  display: inline;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.navbar {
  background: #fff !important;

  a {
    color: #000 !important;
    transition: all 0.3s;

    &:hover {
      color: #F6DE00 !important;
      transition: all 0.3s;
      transform: scale(0.9);
    }
  }

  .navbar-brand {
    img {
      width: 50px;
      height: auto;
    }
  }
}
